
$font-family: 'Poppins', sans-serif;

$clr-primary: #1B1D3F;
$clr-secondary: #4B5BC2;

$flexs: (
  "center": center,
  "start": flex-start,
  "end": flex-end,
  "between": space-between,
  "around": space-around
);